<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itonemm.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ICustomListViewActivity"
            android:label="Custom List View with View Holder"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".CustomListViewActivity"
            android:label="Custom List View"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BottomNavigationActivity"
            android:label="Bottom Navigation"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SimpleListViewActivity"
            android:label="Simple List View"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LayoutInflaterActivity"
            android:label="LayoutInflater and View"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MenuDialogActivity"
            android:label="Menu and Dialog"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ToastyActivity"
            android:label="Toasty"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InputControlsActivity"
            android:label="Input Controls"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".TabActivity" />
        <activity
            android:name=".ShapeActivity"
            android:label="Shape and Selector"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RecieveDataActivity"
            android:label="Recieve Data"
            android:parentActivityName=".PassingDataBetweenActivities" />
        <activity
            android:name=".MultipleButtonsActivity"
            android:label="Multiple Buttons"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PassingDataBetweenActivities"
            android:label="Passing Data Between Activities"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ButtonEventActivity"
            android:label="Button Event"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CircleAreaActivity"
            android:label="Circle Area"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>